.react-color {
    background-color: #61dafb !important;
}
.css-color {
  background-color: #0277bd !important;
}
.javascript-color {
  background-color: #f0db4f !important;
}
.html5-color {
  background-color: #e34f26 !important;
}
.node-color {
  background-color: #539e43 !important;
}
.graphql-color {
  background-color: #e535ab !important;
}

.photoshop-color {
  background-color: #001d26 !important;
  color: #00c8ff !important;
}

.aftereffects-color {
  background-color: #2d1942 !important;
  color: #d8a1ff !important;
}
.illustrator-color {
    background-color: #330000 !important;
    color: #ff9a08 !important;
  }