@media (max-width: 575px) { 
    .homeWrapper {
        background: transparent;
    }
}


.homeWrapper {
    background: url('./../../common/img/background/temp_background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(100vh - 74px);
    padding: 100px;
}
.homeWrapper h1 {
    margin-top: -30px;
    margin-left: -5px;
}
.homeWrapper h4 {
    margin-top: -20px;
}
.dividerSm {
    width: 30%;
    height: 2px;
    background: var(--color-dark);
}
@media (max-width: 767px) {
    .btnWrapper {
        display: none;
    }
}
@media (min-width: 767px) {
    .dividerSmWrapper {
        display: none;
    }
}
@media (max-width: 900px) {
    .homeWrapper {
        background: transparent;
        height: 100vh;
        padding: 0;
        padding-top: 200px;
        text-align: center;
    }
    .homeWrapper h2 {
        display: none;
    }
    .homeWrapper h1 {
        margin-top: -20px;
        font-size: 50px;
    }
    .homeWrapper h4 {
        font-size: 20px;
        margin-top: -10px;

    }
   
}


@media (max-width: 575px) { 
    .homeWrapper {
        overflow-x: hidden;
    }
    .btnWrapper {
        display: none;
    }
    .homeWrapper {
        background: transparent;
    }
    .dividerSm {
        width: 30%;
        height: 2px;
        background: var(--color-dark);
    }
    .homeWrapper h2 {
        display: none;
        font-size:  25px;
    }
    .homeWrapper h1 {
        margin-top: -20px;
        font-size: 40px;
    }   
    .homeWrapper h4 {
        font-size: 15px;
        margin-top: -10px;
    }

}
